<network>
  <name>{{ kvm_bridge_network_name }}</name>
  <forward mode='nat'/>
  <bridge name='{{ kvm_bridge_device }}' stp='on' delay='0'/>
  <ip address='{{ kvm_bridge_ip }}' netmask='{{ kvm_bridge_netmask }}'>
    <dhcp>
      <range start='{{ kvm_bridge_dhcp_start }}' end='{{ kvm_bridge_dhcp_end }}'/>
    </dhcp>
  </ip>
</network>

